@font-face {
    font-family: 'fonta78cfad3beb089a6ce86d4e280fa270b';
        
        src:    url('https://nomail.com.ua/files/eot/a78cfad3beb089a6ce86d4e280fa270b.eot?#iefix') format('embedded-opentype'),
                url('https://nomail.com.ua/files/woff/a78cfad3beb089a6ce86d4e280fa270b.woff') format('woff'),
                url('https://nomail.com.ua/files/woff2/a78cfad3beb089a6ce86d4e280fa270b.woff2') format('woff2');
}
@font-face { font-family: 'Calibri';  src: local('Calibri'), url('https://nomail.com.ua/files/woff/a78cfad3beb089a6ce86d4e280fa270b.woff') format('woff'); }
@font-face {
    font-family: 'fontc8980f67879f6f08737d47c2ecb1cc43';
        
        src:    url('https://nomail.com.ua/files/eot/c8980f67879f6f08737d47c2ecb1cc43.eot?#iefix') format('embedded-opentype'),
                url('https://nomail.com.ua/files/woff/c8980f67879f6f08737d47c2ecb1cc43.woff') format('woff'),
                url('https://nomail.com.ua/files/woff2/c8980f67879f6f08737d47c2ecb1cc43.woff2') format('woff2');
    }
    
@font-face { font-family: 'Calibri-Bold';  src: local('Calibri-Bold'), url('https://nomail.com.ua/files/woff/c8980f67879f6f08737d47c2ecb1cc43.woff') format('woff'); }
@font-face {
    font-family: 'font3e14931180b08416dd7c967a7163f8ea';
        
        src:    url('https://nomail.com.ua/files/eot/3e14931180b08416dd7c967a7163f8ea.eot?#iefix') format('embedded-opentype'),
                url('https://nomail.com.ua/files/woff/3e14931180b08416dd7c967a7163f8ea.woff') format('woff'),
                url('https://nomail.com.ua/files/woff2/3e14931180b08416dd7c967a7163f8ea.woff2') format('woff2');
    }
    
@font-face { font-family: 'Calibri-Italic';  src: local('Calibri-Italic'), url('https://nomail.com.ua/files/woff/3e14931180b08416dd7c967a7163f8ea.woff') format('woff'); }
@font-face {
    font-family: 'font8ff6c498c08ffb65ca6b586c0e5dbe7f';
        
        src:    url('https://nomail.com.ua/files/eot/8ff6c498c08ffb65ca6b586c0e5dbe7f.eot?#iefix') format('embedded-opentype'),
                url('https://nomail.com.ua/files/woff/8ff6c498c08ffb65ca6b586c0e5dbe7f.woff') format('woff'),
                url('https://nomail.com.ua/files/woff2/8ff6c498c08ffb65ca6b586c0e5dbe7f.woff2') format('woff2');
    }
    
@font-face { font-family: 'Calibri-Light';  src: local('Calibri-Light'), url('https://nomail.com.ua/files/woff/8ff6c498c08ffb65ca6b586c0e5dbe7f.woff') format('woff'); }
@font-face {
    font-family: 'font3567d339a4859211316d2894f44ee97e';
        
        src:    url('https://nomail.com.ua/files/eot/3567d339a4859211316d2894f44ee97e.eot?#iefix') format('embedded-opentype'),
                url('https://nomail.com.ua/files/woff/3567d339a4859211316d2894f44ee97e.woff') format('woff'),
                url('https://nomail.com.ua/files/woff2/3567d339a4859211316d2894f44ee97e.woff2') format('woff2');
    }

@font-face { font-family: 'Calibri-LightItalic';  src: local('Calibri-LightItalic'), url('https://nomail.com.ua/files/woff/3567d339a4859211316d2894f44ee97e.woff') format('woff'); }
@font-face {
    font-family: 'font4b688ffc60e79cbd3bba465966a58e73';
        
        src:    url('https://nomail.com.ua/files/eot/4b688ffc60e79cbd3bba465966a58e73.eot?#iefix') format('embedded-opentype'),
                url('https://nomail.com.ua/files/woff/4b688ffc60e79cbd3bba465966a58e73.woff') format('woff'),
                url('https://nomail.com.ua/files/woff2/4b688ffc60e79cbd3bba465966a58e73.woff2') format('woff2');
    }
    
@font-face { font-family: 'Calibri-BoldItalic';  src: local('Calibri-BoldItalic'), url('https://nomail.com.ua/files/woff/4b688ffc60e79cbd3bba465966a58e73.woff') format('woff'); }
body {
    padding: 0;
    width: 100%;
    font-family: 'Calibri','Calibri-Light', 'Calibri-LightItalic', 'Calibri-Bold', 'Calibri-BoldItalic', 'Calibri-Italic';
    font-size: 6px;
    
}
ul {
    list-style-position: inside;
    padding-left: 20px;
    font-family: 'Calibri-Light';
    font-weight: 100;
    font-size: 4px;
    padding-right: 10px;
}​
hr {
    margin-bottom: -3px;
}
i {
    font-family: 'Calibri-LightItalic';
}
a {
    text-decoration:none;
}
.ul_nodots {
    list-style-type: none;
}
.title__main {
    display: flex;
    text-align: center;
    flex-flow: column wrap;
    font-family: "Calibri-Bold";
    font-size: 24px;
    max-width: 200px;
    margin: 0 auto;
}
.title_marker_box {
    display: flex;
    flex-flow: row wrap;
    justify-content:flex-start;
}
.title_marker_box_marker {
    justify-content: flex-start;
    align-items: center;
    align-content: center;
}
.title_marker_box_title {
    max-width: 150px;

}
.titlebox_block {
    font-size: 13px;
    font-family:'Calibri-Light';
    padding-left: 13px;
    
}
.complex {
    display: flex;
    align-content: center;
}
.title_spacial {
    font-family: 'Calibri-Bold';
    font-weight: 500;
    font-size: 7px;
    line-height:2px;
}

.container {
    margin:0 auto; 
    max-width: 640px;
}
.checkboxes_block {
    display: flex; 
    flex-flow: row wrap;
}
.container_checkbox_mainblock {
    font-size: 20px;
    display: flex; 
    flex-flow: column wrap;
    justify-content: space-between;
    align-content: space-between;
}
.container_checkbox_block {
    max-width: 350px;
    max-height: 120px;
}
.hidden_li {
    font-size: 4px;
}
.checkbox_row {
    font-size: 20px;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    border: solid 2px rgb(37, 37, 37);
    margin: 0.5em auto;
    min-height: 1.5em;
    width: 100%;
}
.hidenseek_element {
    display: none;
}
.visible_element {
    display: block;
    font-size: 4px;
}
.container_block {
    max-width: 170px;
    min-height: 294px;
}

.container_text {
    max-width: 180px;
}
.image {
    padding-top: 5px;
    padding-bottom: 5px;
    max-width: 40px;
    max-height: 40px;
}
.image_xl {
    max-width: 120px;
    max-height: 120px;
}
.image_l {
    max-width: 100px;
    max-height: 100px;
}
.image_m {
    max-width: 80px;
    max-height: 80px;
}
.image_logo {
    max-width: 20px;
    max-height: 20px;

}
.image_marker {
    max-width: 5px;
    max-height: 5px;
    padding-right: 5px;
}
.image_bigmarker {
    max-width: 8px;
    max-height: 8px;
    margin: 8px 8px 0px 4px;
}
.image_box {
    display: flex;
    flex-flow: column wrap ;
    justify-content: center;
    align-items: center;
}
.title_box {
    display: flex;
    flex-flow: row wrap;
    align-content: center;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 8px;
}

.modal {
    display: none;
    background: whitesmoke;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 99999;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
}
.modal_vis {
    display: block;
}
.body_block {
    overflow: hidden;
    margin-right: 17px;
}
#close_modal:hover {
    color: #FFF;
    transform: rotate(135deg);
}
.modal_txt {
    position: relative;
    background: whitesmoke;
    padding: 30px;
    
    /* margin: 20% 0 0 40%; */
}
.open_modal {
    margin: 0 auto;
    background-color: coral ;
    color: #f5f5f5;
    width: 300px;
    height: 120px;
    font-size: 50px;
    border: coral;
}
#close_modal {
    color: #BFE2FF;
    font-size: 40px;
    font-weight: bold;
    font-family: Times, sans-serif;
    border-radius: 50%;
    border: 4px solid #BFE2FF;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    margin: 20px;
    cursor: pointer;
    position: absolute;
    right: 0;
    transform: rotate(45deg);
    transition: all 0.6s;
    box-sizing: content-box;
}
#close_modal:hover {
    color: #FFF;
    transform: rotate(135deg);
}
.modal_button {
    margin: 0 auto;
    background-color: #ffffff;
    color: #008879;
    width: 82px;
    height: 30px;
    border: 1px solid#008879;
    border-radius: 2px;
}
.modal_button:hover {
    background-color: #e3f8f4;
}
.modal_button_submit {
    margin: 0 auto;
    background-color:rgb(31, 177, 68) ;
    color: #ffffff;
    width: 150px;
    height: 50px;
    border: rgb(80, 255, 124);
    font-size: 20px ;
}
.row_block{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-content: flex-end;
}
.row_block_li{
    display: flex;
    flex-flow: row wrap;
    align-items:flex-start;
    padding-bottom: 1px;
}
.row_block_li li{
    list-style-type: none;
    max-width: 130px;
}
.red_string {
    margin-left: 10px;
}
h1 {
    font-size: 10px;
}
h2{
    font-family: 'Calibri-Bold';
    line-height: 6px;
    font-size: 6px;
}
h3{
    font-family: 'Calibri-Bold';
    font-weight: 400;
    line-height: 4px;
    font-size: 4px;
}
h4 {
    font-family: 'Calibri-Light';
    font-weight: 400;
    font-size: 4px;
    line-height: 5px;
    margin-top: 2px;
}
h5 {
    font-family: 'Calibri-Light';
    font-weight: 400;
    font-size: 4px;
}
h6 {
    font-family: 'Calibri-Light';
    font-weight: 400;
    font-size: 3px;
}
.fuckblock {
    font-weight: 100;
    padding-bottom: 2px
}
.title_padding {
    padding-top: 4px;
}
.image_bigmarker#support {
    margin-top: 5px;
    margin-right: 7px;
}
.checkboxes_namefield {
    margin: 0 auto;
    font-size: 14px;
    width: 100%;
    text-align: center;
    user-select: none;
}
.label_variable {
    margin: 0 auto;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.common_checkbox {
    position: relative;
}

.custom_checkbox{
    position: absolute;
    background-color: black;
    margin-left: 168px;
    width: 1.5em;
    height: 1.5em;
    background-image: url('https://svg-clipart.com/svg/sign/kDyFk8m-white-plus-vector.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 10px;
}
.common_checkbox:checked + .custom_checkbox {
    background-image: url("https://svg-clipart.com/svg/white/eAqRaU1-white-check-vector.svg");
    
}

.container-checkbox_button {
    margin-top: 1em;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
.container__label {
    display: flex;
    justify-content: center;
    align-self: center;
}
.checkbox_button {
    min-width: 82px;
}
input#custom_email {
    background: transparent;
    width: 95%;
    height: 100%;
    box-sizing: border-box;
    border: none;
    outline: none;
    text-shadow: 0 0 0 #000;
}
.customemail {
    color: transparent;
}

.checkbox_row-active{
    background: black;
    color: #f5f5f5;
}  

.modal_button__download {
    font-size: 20px;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-evenly;
    box-sizing: border-box;
    min-height: 1.5em;
    width: 100px;
    height: 40px;
    margin-top: 1em;
    align-items: center;
}
.modal_button__download:hover {
    background-color: #e3f8f4;
}


@media (min-width: 767px) {
    .modal_txt {        
        margin: 20% 0 0 40%;
    }
}