body {
    font-family: 'PTSans', sans-serif;
    font-size: 15px;
    
}
ul {
    list-style-position: inside;
    padding-left: 0;
}​
hr {
    size: 1px;
}
.container {
    margin:0 auto; 
    max-width: 640px;
}
.checkboxes_block {
    display: flex; 
    flex-flow: row wrap;
}
.hidenseek_element {
    display: none;
}
.visible_element {
    display: block;
    font-size: 3px;
}
.container_block {
    max-width: 180px;
    min-height: 290px;
}
.container_text {
    max-width: 180px;
}